
/*the ability to read, modify and execute specific files and directories*/
:root {
    --background: grey;
    --text: #00fff1;
}

/* DEFAULT MARGINS */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background: var(--background);
}

.container {
    padding: 10px;
    min-height: 90vh;
    margin: 3vh auto;
    box-shadow: inset 2px 2px 5px var(--text),
    inset -2px -2px 5px var(--text);
    border-radius: 7px;
}

.title {
    margin: 20px 0;
    font-size: 7rem;
    font-weight: bolder;
    opacity: 0.9;
    color: var(--text);
}
.drum {
    width: 150px;
    height: 150px;
    background: var(--background);
    color: var(--text);
    font-size: 3rem;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: -1px -1px 3px rgba(255, 255, 244, 0.1),
    1px 1px 3px rgba(0, 0, 0, 1.5);
    margin: 10px;
    border-radius: 15px;
}

.W,
.T {
    border-radius: 50%;
}

.volume__control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#volume__slider {
    height: 7px;
    width: 200px;
    margin-left: 10px;
    appearance: none;
    background: var(--text);
    border-radius: 7px;
    outline: none;
}

#volume__slider::-webkit-scrollbar-thumb{
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--text);
    cursor: pointer;
}

.interface__buttons {
    margin-top: 40px;
}

.interface__buttons>button {
    height: 50px;
    width: 200px;
    font-family: sans-serif;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: var(--background);
    color: var(--text);
    box-shadow: -1px -1px 3px rgba(225, 225, 225, 0.2),
    1px 1px 3px rgba(0, 0, 0, 0.8);
    margin: 10px 4px;
}

#interface__button-theme{
    color: var(--background);
    background: var(--text);
}

.pressed {
    opacity: 0.5;
    box-shadow: -1px -1px 3px var(--background);
}
